<div class="panel panel-default card card-panel-{{id}}">
  <div class="panel-body">
  	<div class="profile_image">
  		<img src="{{image}}" class="img-responsive" alt="Responsive image">
  	</div>
    <div class="info">
	  <div class="name">{{firstname}} {{surname}}</div>
	  <div class="context">
  		<div class="address"><i class="fa fa-map-marker"></i> &nbsp; {{location}}</div>
  		<div class="milestone"><i class="fa fa-asterisk"></i> &nbsp; {{milestone}}</div>
	  </div>
	</div>
  </div>
</div>